.top-holder{
    padding: 50px;
    padding-top: 0;
    margin-top: -200px;
}
.top-img{
    width: 812px;
    height: 812px;
    margin-left: 10%;
}
.top-name{
    display: block;
}
.top-buy{
    left: 50px;
    height: 40px;
}