@import "../../Style-helpers/Functions-helper.scss";
.card{
    height: 640px;
    background-color: bisque;
}
.f-img{
    width: 292px;
    height: 292px;
    display: block;
    @include center();
}
.f-title{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    @include button-text(24px,bolder,$main-font);
}
.bu{
    margin: 20px;
}